main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo {
    height: 340px;
    width: 100%;
    display: grid;
    grid-template-columns: 1.8fr 2fr 1.2fr auto 1.8fr;
    grid-template-rows: auto 50px;
    grid-column-gap: 0;
    grid-row-gap: 0;
    background-color: #ffffff;
}
.promo-background {
    background-color: #495E57;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: -1;
}

.promo img {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 4;
    height: 300px;
    width: 300px;
    border-radius: 6%;
    margin-top: 20px;
    object-fit: cover;
}

.restaurant-info {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: left;
    min-width: 215px;
    font-family: 'Markazi Text', serif;
    padding: 30px;
}

.restaurant-info h1 {
    color: #F4CE14;
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
    line-height: 50%;
}

.restaurant-info h2 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
}

.restaurant-info p {
    font-family: 'Karla', sans-serif;
    color: #ffffff;
}

.specials {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-family: 'Markazi Text', serif;
}

.specials header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.specials h1 {
    font-weight: normal;
    font-size: 3rem;
    margin: 0;
}

.specials-items {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.reserve-btn, .online-menu-btn {
    background-color: #F4CE14; /* Yellow */
    border-radius: 12px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Karla', sans-serif;
    font-size: large;
    color: #333333;
}
