/* Define color variables based on the style guide */
:root {
    --primary-color: #495E57; /* Dark green */
    --highlight-color: #F4CE14; /* Yellow */
    --secondary-color: #EE9972; /* Peach */
    --background-color: #EDEFEE; /* Light gray background */
    --text-color: #333333; /* Dark gray text */
    --font-display: 'Markazi Text', serif; /* Font for headings */
    --font-body: 'Karla', sans-serif; /* Font for body text */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo {
    height: 340px;
    width: 100%;
    display: grid;
    grid-template-columns: 1.8fr 2fr 1.2fr auto 1.8fr;
    grid-template-rows: auto 50px;
    grid-column-gap: 0;
    grid-row-gap: 0;
    background-color: #ffffff;
}
.promo-background {
    background-color: var(--primary-color);
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: -1;
}

.promo img {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 4;
    height: 300px;
    width: 300px;
    border-radius: 6%;
    margin-top: 20px;
    object-fit: cover;
}

.restaurant-info {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: left;
    min-width: 215px;
    font-family: 'Markazi Text', serif;
    padding: 30px;
}

.restaurant-info h1 {
    color: var(--highlight-color);
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
    line-height: 50%;
}

.restaurant-info h2 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
}

.restaurant-info p {
    font-family: 'Karla', sans-serif;
    color: #ffffff;
}

.specials {
    display: flex;
    flex-direction: column;
    margin: 2rem auto 2rem auto;
    font-family: 'Markazi Text', serif;
}

.specials header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.specials h1 {
    font-weight: normal;
    font-size: 3rem;
    margin: 0;
}

.specials-items {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.reserve-btn, .online-menu-btn {
    background-color: var(--highlight-color); /* Yellow */
    border-radius: 12px;
    border: 1px solid var(--highlight-color);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Karla', sans-serif;
    font-size: large;
    color: #333333;
}

.reserve-btn:hover, .online-menu-btn:hover {
    color: var(--highlight-color);
    background-color: var(--primary-color);
    border: 1px solid var(--highlight-color);
}

.booking-section {
    width: 100%;
    height: fit-content;
    margin: 2rem 0 0;
}
