.special-item {
    width: 260px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Karla', sans-serif;
    background-color: #edefee;
    border-radius: 10px;
    margin: 12px;
}

.special-item h3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: 'Markazi Text', serif;
    font-size: calc(1.25em + 0.2cqi);;
    font-weight: normal;
}

.special-item h3 span {
    color: #EE9972;
}

.special-item p {
    text-align: left;
    font-weight: lighter;
    font-size: calc(0.75em + 0.2cqi);
    min-height: fit-content;
    max-width: 65ch;
    padding: 5px 0;
}

.special-item img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 45%;
    object-fit: cover;
}

.special-item-content {
    flex: 1 1 200px;
    padding: 0 16px 16px;
}

.order-link {
    color: #333333;
    font-weight: bold;
    font-size: calc(0.75em + 0.2cqi);
    text-decoration: none;
    padding: 0 16px 30px;
}
